
<div id="container">

    <mat-divider *ngIf="number === 1" class="divider"></mat-divider>

    <div *ngIf="!exists" class="content">

        <div id="number">
            <div class="person">Person {{ number }}</div>
        </div>

        <form class="user-data-form">

            <div id="names">
                <mat-form-field class="half-width first">
                    <mat-label>Vorname</mat-label>
                    <input matInput placeholder="z.B. Max" value={{firstName}}>
                    <mat-hint>Pflichtfeld</mat-hint>
                </mat-form-field>
                
                
                <mat-form-field class="half-width">
                    <mat-label>Nachname</mat-label>
                    <input matInput placeholder="z.B. Mustermann" value={{lastName}}>
                    <mat-hint>Pflichtfeld</mat-hint>
                </mat-form-field>
            </div>
        
            <div>
                <mat-form-field class="full-width">
                    <mat-label>E-Mail-Adresse</mat-label>
                    <input matInput placeholder="z.B. max-mustermann@web.de" value={{mail}} [(ngModel)]="mail" [ngModelOptions]="{standalone: true}" (keyup)="mandatory('mail')">
                    <mat-hint *ngIf="!isPhone">Pflichtfeld</mat-hint>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="full-width">
                    <mat-label>Telefonnummer</mat-label>
                    <input matInput placeholder="z.B. 07131/123456" value={{phone}} [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" (keyup)="mandatory('phone')">
                    <mat-hint *ngIf="!isMail">Pflichtfeld</mat-hint>
                </mat-form-field>
            </div>

            <div id="notify">
                    <mat-checkbox class="checkbox"></mat-checkbox>
                    Ich benachrichtige alle nicht eingetragenen Begleitpersonen
                    <mat-icon inline=true>info</mat-icon>           
            </div>
        
        </form>

    </div>

    <!-- Ansicht wenn Nutzer existiert -->
    <div *ngIf="exists" class="content">

        <form class="user-data-form">

            <div id="number">
                <div class="person">Person {{ number }}</div>
                <div *ngIf="isRegistered" class="registered">Person gefunden</div>
            </div>
            
            <div>
                <mat-form-field class="medium-width">
                    <mat-label>E-Mail-Adresse</mat-label>
                    <input matInput placeholder="z.B. max-mustermann@web.de" value={{mail}} [(ngModel)]="mail" [ngModelOptions]="{standalone: true}" (keyup)="mandatory('mail')">
                    <mat-hint *ngIf="!isPhone">Pflichtfeld</mat-hint>
                </mat-form-field>
            </div>
            
            <div>
                <mat-form-field class="medium-width">
                    <mat-label>Telefonnummer</mat-label>
                    <input matInput placeholder="z.B. 07131/123456" value={{phone}} [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" (keyup)="mandatory('phone')">
                    <mat-hint *ngIf="!isMail">Pflichtfeld</mat-hint>
                </mat-form-field>
            </div>

            <div id="notify">
                <mat-checkbox class="checkbox"></mat-checkbox>
                Ich benachrichtige alle nicht eingetragenen Begleitpersonen
                <mat-icon inline=true>info</mat-icon>           
            </div>
        
        </form>

    </div>

    <mat-divider class="divider"></mat-divider>
    
</div>
<!-- Ansicht wenn Nutzer nicht existiert -->

